*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mcdlogo {
  position: fixed;   /* Stay fixed on screen */
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1000;
}

.mcdlogo img {
  width: 100px;       /* Resize as needed */
  height: auto;
}
.mcdlogo img:hover {
  transform: scale(1.5); /* Slightly enlarge on hover */
  transition: transform 0.3s; /* Smooth transition */
  
}
.navlinks {
  position: fixed;   /* Stay fixed on screen */
  top: 0;
  right: 0;
  padding: 30px;
  z-index: 1000;      /* Keep it above other elements */
}
.navlinks ul {
  list-style: none;  /* Remove default list styles */
  display: flex;     /* Display items in a row */
  gap: 40px;         /* Space between items */
}
.navlinks li {
  display: inline;   /* Display items inline */
}
.navlinks a {
  text-decoration: none; /* Remove underline */
  color: #FFCC00;         /* Text color */
  font-weight: bold;  
  font-size: 20px;       /* Font size */
  transition: color 0.3s; /* Smooth color transition */
  padding: 10px;        /* Padding for clickable area */
}
.navlinks a:hover {
  color: red;
  text-decoration:overline; /* Underline on hover */
  
  
}
.navlinks a:active {
  color: rgb(0, 0, 0);
  text-decoration: none; /* Remove underline on click */
  transform: scale(0.9); /* Slightly shrink on click */
}
.navlinks a:focus {
  text-decoration:overline; /* Underline on hover */
  outline: none; /* Remove focus outline */
}


